whtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}


/*
background-color: #2ea0ff;
background-color:#333333;

*/

.container{
	width: 1196px;
	margin: 0 auto;
}

	
}

header{
	height:110px;
	padding: 0;
	
	
}

header img{
	margin-top: 30px;
	margin-left: 340px;
	display: inline-block;
	float:left;
	

}

img{
	white-space: nowrap;
	padding:0;
	margin:0;
}
ul{
	list-style-type: none;
}

.nav_link:hover{
	color:#2ea0ff;
	border-bottom: 4px solid #2ea0ff;
}

header li{
	display:inline;
	float:left;
	margin-right: 38px;
}

header ul{
	
	overflow: hidden;
	float: right;
	margin-right: 350px;
	margin-top: 50px;
	font-family: Montserrat;
	font-size: 12px;

}

header li:nth-child(8){
	margin-right: 0px;
}


#our_services{
	height:717px;
}

#our_services h2{
	margin-bottom: 81px;
	margin-top: 118px;	
	text-align: center;
	font-family: Montserrat;
	font-size: 35px;
	color: #333333;
	letter-spacing: 7px;
	line-height: 25px;
	font-weight: bold;

}

.services{
	/*width:310px;*/
	width:25%;
	float: left;
	
}

.circle{
	width:156px;
	height:156px;
	background-color: #333333;
	border-radius: 50%;
	margin-bottom: 50px;
	margin-left: 76px;
	color:white;
	font-size: 50px;
	text-align: center;
	position: relative;

}

.services h3{
	font-size: 18px;
	color: #333333;
	font-family: Montserrat;
	line-height: 25px;
	text-align: center;
	margin-bottom: 30px;
}

.services p{
	width: 270px;
	color: #888888;
	font-size: 14px;
	font-family: Roboto;
	text-align: center;
	line-height: 24px;
	margin: auto;
}

/*.services:first-child{
	margin-left: 332px;
}*/

.icon_wraper{
	display:inline-block; 
	vertical-align:middle;
	line-height: 155px;
	

}

.circle:hover{
	background-color: #2ea0ff;
}

#top h2{
	display: block;
	font-size: 35px;
	font-family: Montserrat;
	line-height: 25px;
	color: #333333;
	letter-spacing: 7px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 82px;
	/*margin-left: 716px;*/
	margin-bottom: 26px;
	text-align: center;
}

#top{
	background-color: #f5f6f8;
	height: 232px;
	overflow: auto;
}

#top p{
	font-size: 18px;
	color: #888888;
	font-family: Roboto;
	text-align: center;
	line-height: 24px;
}
#mid ul{
	list-style: none;
	font-size: 0;

}

#mid li{
	display: inline-block;
}

#mid{
	height:479px;
	display: block;
	margin: 0 auto;
}

#bot{
	height: 325px;
	background-color: #333333;

}

.img_container{
	height:479px;
	width: 475px;
	overflow: hidden;
	position: relative;
}

.img_container img{
	height:479px;
	width: 475px;
	transition: all 0.5s ease;
}

.img_container:hover img{

		height: 579px;
		width: 575px;
		margin-top: -50px;
		margin-right: -50px;
}

.overlay{
	
	position: absolute;
	top:0;
	left:0;
	height:479px;
	width: 475px;
transition: all 0.5s ease;
}



.img_container:hover .overlay{
	background:black;
	opacity:0.5;
}


.overlay h3{
	font-size: 40px;
	color:white;
	visibility: hidden;
	font-family: Montserrat;
}

.overlay p{
	font-size: 16px;
	color: white;
	visibility: hidden;
	font-family: Montserrat;
}

.img_container:hover .overlay h3{
	visibility: visible;
}

.img_container:hover .overlay p{
	visibility: visible;
}

.overlay h3{
	margin-top: 200px;
	margin-left: 96px;
	padding-bottom: 25px;
	margin-bottom: 21px;
}

.overlay p{
	margin-left: 186px;
}



#bot_left p{
	font-family: Roboto;
	font-size: 20px;
	color: #888888;
}

#bot_left h3{
	font-family: Roboto;
	font-weight: 300;
	color: white;
	font-size: 40px;
	line-height: 64px;
	letter-spacing: .
}

#bot_left span{
	font-weight: 700;
}

#bot_left{
	float: left;
	margin-top: 100px;
}

#bot_right{
	float: right;
}

#dugme{
	margin-top: 118px;
	width: 269px;
	background-color: #2ea0ff;
	height: 90px;
	border-radius: 5px;
}

#dugme i{
	margin-left: 18px;
	margin-top: 33px;
	display: inline-block;
	color: white;
	font-size: 22px;
}

#dugme p{
	display: inline-block;
	text-transform: uppercase;
	font-size: 22px;
	font-family: Montserrat;
	color: white;
	margin-top: 37px;
	margin-left: 36px;
}

#our_blog h2{
	font-size: 35px;
	font-family: Montserrat;
	line-height: 25px;
	color: #333333;
	letter-spacing: 7px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: 82px;
	margin-bottom: 24px;
	display: block;
}

#our_blog h6{
	color: #888888;
	font-size: 14px;
	font-family: Roboto;
	text-align: center;
	line-height: 24px;
	margin-bottom: 87px;

}

.container li{
	display: inline-block;

}

.container li:first-child{
	margin-right: 37px;
}

.container li:nth-child(2){
	
	margin-right: 37px;
}

#our_blog_top{
	overflow: auto;
	background-color: #f5f6f8;
	border-bottom: 1px solid #e7e9eb;
}

#our_blog_top ul{
	font-size: 0;
}

#our_blog_bot{
	height: 496px;
}

.blog{
	width: 373px;
	height: 373px;
	float:left;
	border-left: 1px solid #e7e9eb;
	border-right: 1px solid #e7e9eb;
	border-bottom: 3px solid #e7e9eb;

}


#our_blog_bot .blog:first-child{
	margin-right: 36px;
}

#our_blog_bot .blog:nth-child(2){
	margin-right: 35px;
}

.blog h3{
	font-family: 'Montserrat';
	font-size: 30px;
	display: block;
	margin-left: 34px;
	padding-bottom: 36px;
	margin-bottom: 42px;
	margin-top: 38px;

}

.blog_text{
	font-family: 'Roboto';
	font-size: 13px;
	color: #888888;
	display: block;
	width: 302px;
	margin: 0 auto;
	margin-bottom: 56px;
	line-height: 24px;
}

.date {
	float: left;
	color: #c4c4c4;
	font-size: 11px;
	margin-left: 36px;
}

.blog i{
	float: right;
}

.blog_number{
	float: right;
	margin-right: 34px;
	margin-left: 6px;
	font-family: 'roboto';
	font-size: 10px;
}

.blog i{
	font-size: 16px;
	color: #d7d7d7;
}

#gray_border{
	height: 16px;
	border-bottom: 1px solid #e5e8ea;
	background-color: #f5f6f8;
}

#facts_top h3{
	font-size: 35px;
	font-family: Montserrat;
	line-height: 25px;
	color: #333333;
	letter-spacing: 7px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: 82px;
	margin-bottom: 24px;
	display: block;
}

#facts_top h6{
	color: #888888;
	font-size: 14px;
	font-family: Roboto;
	text-align: center;
	line-height: 24px;
	margin-bottom: 87px;
}

#facts{
	height:736px;
}


	
}

.testimonials_slide{
	
	position: absolute;
	display: inline-block;
	margin: 0 auto;
	
}

.testimonials_slide p{
	font-size: 40px;
	line-height: 64px;
	font-family: 'roboto';
	font-weight: 300;
	color: #333333;
	text-align: center;
	margin: 0 auto;

}
#testimonials{
	height:684px;
	background-color: #f5f6f8;
}


.hidden{
	display:none;
}

.blue_dot{
	height:50px;
	width: 50px;
	border-radius: 50%;
	background-color: blue;
}
.active-slide {
	opacity: 1;
}

.slide_wrapper{
	overflow: hidden;
}